<a href="https://colab.research.google.com/github/kellianneyang/bootcamp-assignments/blob/main/Renaming%2C_Deleting%2C_%26_Missing_Data_(Practice).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Renaming, Deleting, & Missing Data

This practice assignment will reinforce important learning objectives from the previous lesson(s), and allow you to take on more challenging core assignments, preparing you for graduation.

Practice and tinker with this assignment until you're comfortable performing each of the tasks. Then, be sure to submit your output as described in the steps below.

---

# Learning Objectives:

- Practice data modification techniques, including renaming, deleting, and handling missing data.

---

# Instructions

---

# Preliminary Steps:

We will build off of the work we did in the Loading & Filtering Data core assignment!

1. Start by downloading [this data](https://drive.google.com/file/d/1okt7G5vC5z_mfXiN2OBF6-ea5L3xqbR7/view?usp=sharing).

2. Import the data as a Pandas DataFrame.

3. Name the DataFrame bike_df.

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
bike_df = pd.read_excel('/content/RailsToTrails_National Count Data_week (2).xlsx')

---

# Assignment:

Now, complete the following:

1. Delete the unnecessary columns:
  1. Unnamed: 7
  2. Unnamed: 8
  3. Unnamed: 9

In [ ]:
bike_df.drop(columns = ['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'], inplace = True)
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   52 non-null     object
 1   Week of                     52 non-null     datetime64[ns]
 2    2019 counts (31 counters)  52 non-null     float64
 3    2020 counts (31 counters)  52 non-null     float64
 4   2021 Counts                 0 non-null      float64
 5   Change 2019-2020            52 non-null     float64
 6   Unnamed: 6                  52 non-null     float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 3.0+ KB

2. Rename the Unnamed: 6 column to percent_change.

In [ ]:
bike_df = bike_df.rename(columns = {'Unnamed: 6': 'percent_change'})
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   52 non-null     object
 1   Week of                     52 non-null     datetime64[ns]
 2    2019 counts (31 counters)  52 non-null     float64
 3    2020 counts (31 counters)  52 non-null     float64
 4   2021 Counts                 0 non-null      float64
 5   Change 2019-2020            52 non-null     float64
 6   percent_change              52 non-null     float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 3.0+ KB

3. How many missing values are in the dataset? Which columns are they in?

In [ ]:
bike_df.isna().sum()

# There are 52 missing values in the dataset, all in column '2021 Counts'

Timeframe                      0
Week of                        0
 2019 counts (31 counters)     0
 2020 counts (31 counters)     0
2021 Counts                   52
Change 2019-2020               0
percent_change                 0
dtype: int64

4. Fill all missing values in the 2021 Counts column with 0.

In [ ]:
bike_df['2021 Counts'].fillna(0, inplace = True)
bike_df.isna().sum()

Timeframe                     0
Week of                       0
 2019 counts (31 counters)    0
 2020 counts (31 counters)    0
2021 Counts                   0
Change 2019-2020              0
percent_change                0
dtype: int64

5. Optional/Bonus: There is a challenging but common issue in the name for the 2019 counts column. Can you find it? If so, Rename the 2019 counts (31 counters) column to "counts_2019" (a more Pythonic column name)

In [ ]:
bike_df = bike_df.rename(columns = {' 2019 counts (31 counters)': 'counts_2019'})
bike_df.info()

# I think the "challenging but common" issue is the space at the beginning of the column name?

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Timeframe                   52 non-null     object
 1   Week of                     52 non-null     datetime64[ns]
 2   counts_2019                 52 non-null     float64
 3    2020 counts (31 counters)  52 non-null     float64
 4   2021 Counts                 52 non-null     float64
 5   Change 2019-2020            52 non-null     float64
 6   percent_change              52 non-null     float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 3.0+ KB

Turn in an .ipynb file with your solutions to this practice!

---

# Deepen Your Knowledge

The data for this practice is originally from [this source](https://www.makeovermonday.co.uk/data/) - inspired by [this article](https://www.bbc.com/future/bespoke/made-on-earth/the-great-bicycle-boom-of-2020.html) on Bicycle usage growth in 2020.