<a href="https://colab.research.google.com/github/kellianneyang/bootcamp-assignments/blob/main/Pre_Processing_Exercise_(Practice)_Kellianne_Yang.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pre-Processing Exercise (Practice)**

**Name:** Kellianne Yang

# Preliminary steps

In [ ]:
# import libraries

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector
from sklearn.preprocessing import OneHotEncoder, StandardScaler

In [ ]:
# mount drive

from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
# load dataset

filename = '/content/drive/MyDrive/Coding Dojo/05 Week 5: Machine Learning/insurance.csv'
df = pd.read_csv(filename)

In [ ]:
# inspect data to make sure it uploaded correctly

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
df.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

# Define features (X) and target (y)

In [ ]:
# the target we are trying to predict
target = 'charges'
y = df[target]

In [ ]:
# check target (y)
print(y)

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [ ]:
# the features we will use to make the prediction
X = df.drop(columns = target)

In [ ]:
# check features (X)
print(X.head(10))

   age     sex     bmi  children smoker     region
0   19  female  27.900         0    yes  southwest
1   18    male  33.770         1     no  southeast
2   28    male  33.000         3     no  southeast
3   33    male  22.705         0     no  northwest
4   32    male  28.880         0     no  northwest
5   31  female  25.740         0     no  southeast
6   46  female  33.440         1     no  southeast
7   37  female  27.740         3     no  northwest
8   37    male  29.830         2     no  northeast
9   60  female  25.840         0     no  northwest

# Is this a classification or regression task?

This is a **REGRESSION** task because the target variable to predict is numerical and continuous.

# Train test split the data to prepare for machine learning

In [ ]:
# train test split on X and y
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
# look at shapes of sets to verify split correctly
X_train.shape

(1003, 6)

In [ ]:
X_test.shape

(335, 6)

In [ ]:
y_train.shape

(1003,)

In [ ]:
y_test.shape

(335,)

# Identify each feature as numerical, ordinal, or nominal.

In [ ]:
# check dtypes of X_train
display(X_train.info())
X_train.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1003 entries, 693 to 1126
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1003 non-null   int64
 1   sex       1003 non-null   object
 2   bmi       1003 non-null   float64
 3   children  1003 non-null   int64
 4   smoker    1003 non-null   object
 5   region    1003 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 54.9+ KB

None

      age     sex     bmi  children smoker     region
693    24    male  23.655         0     no  northwest
1297   28  female  26.510         2     no  southeast
634    51    male  39.700         1     no  southwest
1022   47    male  36.080         1    yes  southeast
178    46  female  28.900         2     no  southwest
287    63  female  26.220         0     no  northwest
1290   38  female  19.950         2     no  northeast
1113   28  female  26.315         3     no  northwest
294    25    male  26.800         3     no  southwest
471    18  female  30.115         0     no  northeast

Features:

- 'age': numerical
- 'sex': nominal 
- 'bmi': numerical 
- 'children': numerical 
- 'smoker': nominal
- 'region': nominal

# Ordinal encode any ordinal features

There are no ordinal features in this dataset.

# One Hot Encode any nominal features

In [ ]:
# make categorical feature selector
cat_selector = make_column_selector(dtype_include = 'object')

In [ ]:
# apply the categorical feature selector to the feature training set,
# to see the 'object' columns in the feature training set
cat_selector(X_train)

['sex', 'smoker', 'region']

In [ ]:
# create new dfs (one for feature training data and one for feature testing data) that 
# contain only the 'object' (nominal) features from cat_selector

# create new df for X_train
# make it on copy of original df so original df is preserved
train_cat_df = X_train[cat_selector(X_train)].copy()

# create new df for X_test
# make it on copy of original df so original df is preserved
test_cat_df = X_test[cat_selector(X_test)].copy()

In [ ]:
# check the train_cat_df to make sure it was created properly
train_cat_df

         sex smoker     region
693     male     no  northwest
1297  female     no  southeast
634     male     no  southwest
1022    male    yes  southeast
178   female     no  southwest
...      ...    ...        ...
1095  female     no  northeast
1130  female     no  southeast
1294    male     no  northeast
860   female    yes  southwest
1126    male     no  southwest

[1003 rows x 3 columns]

In [ ]:
# remember the steps for one hot encoding nominal features:
# 1. Fit the OneHotEncoder ONLY on the categorical training data.
# 2. Transform the categorical training data to a one-hot encoded form.
# 3. Transform the categorical testing data to a one-hot encoded form.

In [ ]:
# instantiate one hot encoder
ohe_encoder = OneHotEncoder(sparse_output = False, handle_unknown = 'ignore')

In [ ]:
# fit the one hot encoder on the training data ONLY
ohe_encoder.fit(train_cat_df)

OneHotEncoder(handle_unknown='ignore', sparse_output=False)

In [ ]:
# transform BOTH the training and the testing data with one hot encoder
train_ohe = ohe_encoder.transform(train_cat_df)
test_ohe = ohe_encoder.transform(test_cat_df)

In [ ]:
# check output of training set after being transformed by ohe
train_ohe

array([[0., 1., 1., ..., 1., 0., 0.],
       [1., 0., 1., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 0., 1.],
       ...,
       [0., 1., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 1.],
       [0., 1., 1., ..., 0., 0., 1.]])

In [ ]:
# (optional; not necessary for modelling) convert to df to see the result more clearly
# and to recombine ohe columns with original numeric columns

# extract new column names from encoder
ohe_column_names = ohe_encoder.get_feature_names_out(train_cat_df.columns)
print(ohe_column_names)

# convert arrays to dfs, set columns in dfs to new column names from encoder
train_ohe = pd.DataFrame(train_ohe, columns=ohe_column_names)
test_ohe = pd.DataFrame(test_ohe, columns=ohe_column_names)

# check output of training set after being transformed by ohe and put into a df for easy viewing
train_ohe

['sex_female' 'sex_male' 'smoker_no' 'smoker_yes' 'region_northeast'
 'region_northwest' 'region_southeast' 'region_southwest']

,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...
998,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
999,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1000,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
1001,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1002,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0

# Scale any numeric features

In [ ]:
# explore the training set's numerical features
X_train.describe(include = 'number').round(2)

           age      bmi  children
count  1003.00  1003.00    1003.0
mean     39.26    30.51       1.1
std      14.04     6.01       1.2
min      18.00    15.96       0.0
25%      27.00    26.21       0.0
50%      39.00    30.20       1.0
75%      51.00    34.43       2.0
max      64.00    53.13       5.0

In [ ]:
# make numerical feature selector
num_selector = make_column_selector(dtype_include = 'number')

In [ ]:
# apply the categorical feature selector to the feature training set,
# to see the 'object' columns in the feature training set
num_selector(X_train)

['age', 'bmi', 'children']

In [ ]:
# create new dfs (one for feature training data and one for feature testing data) that 
# contain only the 'number' features from cat_selector

# create new df for X_train
train_num_df = X_train[num_selector(X_train)]

# create new df for X_test
test_num_df = X_test[num_selector(X_test)]

In [ ]:
# check the train_num_df to make sure it was created properly
train_num_df

      age     bmi  children
693    24  23.655         0
1297   28  26.510         2
634    51  39.700         1
1022   47  36.080         1
178    46  28.900         2
...   ...     ...       ...
1095   18  31.350         4
1130   39  23.870         5
1294   58  25.175         0
860    37  47.600         2
1126   55  29.900         0

[1003 rows x 3 columns]

In [ ]:
# initiate scaler
scaler = StandardScaler()

In [ ]:
# fit scaler on training data ONLY
scaler.fit(train_num_df)

StandardScaler()

In [ ]:
# tranform BOTH the training and testing numerical data

train_scaled = scaler.transform(train_num_df)
test_scaled = scaler.transform(test_num_df)

In [ ]:
# check output of first 10 rows of training set after being scaled
train_scaled[:10]

array([[-1.08716652, -1.14087456, -0.91749963],
       [-0.80210593, -0.66584152,  0.7436053 ],
       [ 0.83699246,  1.52879447, -0.08694717],
       [ 0.55193187,  0.92647587, -0.08694717],
       [ 0.48066672, -0.26817814,  0.7436053 ],
       [ 1.69217422, -0.71409357, -0.91749963],
       [-0.08945446, -1.757336  ,  0.7436053 ],
       [-0.80210593, -0.69828686,  1.57415776],
       [-1.01590137, -0.61758948,  1.57415776],
       [-1.5147574 , -0.06601872, -0.91749963]])

In [ ]:
# (optional; not necessary for modelling) convert to df to see the result more clearly
# and to recombine numeric columns with ohe columns

# convert arrays to dfs, set columns in dfs to column names from numerical data only dfs
train_scaled = pd.DataFrame(train_scaled, columns = train_num_df.columns)
test_scaled = pd.DataFrame(test_scaled, columns = train_num_df.columns)

In [ ]:
# check output of training set after being scaled and put into a df for easy viewing
train_scaled.head(10)

        age       bmi  children
0 -1.087167 -1.140875 -0.917500
1 -0.802106 -0.665842  0.743605
2  0.836992  1.528794 -0.086947
3  0.551932  0.926476 -0.086947
4  0.480667 -0.268178  0.743605
5  1.692174 -0.714094 -0.917500
6 -0.089454 -1.757336  0.743605
7 -0.802106 -0.698287  1.574158
8 -1.015901 -0.617589  1.574158
9 -1.514757 -0.066019 -0.917500

In [ ]:
# explore the scaled data; means should be around 0, stds should be around 1, outliers are 3 stds above
# or below mean

train_scaled.describe().round(2)

           age      bmi  children
count  1003.00  1003.00   1003.00
mean      0.00     0.00      0.00
std       1.00     1.00      1.00
min      -1.51    -2.42     -0.92
25%      -0.87    -0.72     -0.92
50%      -0.02    -0.05     -0.09
75%       0.84     0.65      0.74
max       1.76     3.76      3.24

# Concatenate all features back into one dataframe

In [ ]:
# reset the index of the numeric columns

train_scaled.reset_index(drop = True, inplace = True)
test_scaled.reset_index(drop = True, inplace = True)

In [ ]:
# recombine train and test sets on axis 1 (columns)

X_train_processed = pd.concat([train_scaled, train_ohe], axis = 1)
X_test_processed = pd.concat([test_scaled, test_ohe], axis = 1)

In [ ]:
# view X_train_processed to verify looks correct
X_train_processed

,age,bmi,children,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,-1.087167,-1.140875,-0.917500,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
1,-0.802106,-0.665842,0.743605,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
2,0.836992,1.528794,-0.086947,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.551932,0.926476,-0.086947,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.480667,-0.268178,0.743605,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
998,-1.514757,0.139468,2.404710,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
999,-0.018189,-1.105101,3.235263,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1000,1.335848,-0.887967,-0.917500,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
1001,-0.160720,2.843247,0.743605,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
1002,1.122053,-0.101792,-0.917500,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0