<a href="https://colab.research.google.com/github/kellianneyang/bootcamp-assignments/blob/main/Loops_(Practice).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# iterable: anything that can be traversed in order, e.g., lists, tuples, 
# dictioonaries, sets, strings, and range objects
# not iterable: integers, booleans, floats

# list comprehension: a way to execute a for-loop in one line of code
# code occurs within a list (i.e., within square brackets [])
# first part is the transformation, then the for-loop statement
# e.g., [num*2 for num in X]
# CANNOT define new temporary variables in list comprehension
# w3 schools resource for list comprehensions: https://www.w3schools.com/python/python_lists_comprehension.asp

In [ ]:
fahrenheit_temps = [65, 60, 55, 72, 67, 84]

# list comprehension solution
celsius_temps_1 = [round((num - 32) * (5/9), 2) for num in fahrenheit_temps]
print(celsius_temps_1)

[18.33, 15.56, 12.78, 22.22, 19.44, 28.89]

In [ ]:
# regular for-loop solution
celsius_temps_2 = []
for num in fahrenheit_temps:
  c_temp = (num -32) * (5/9)
  c_temp = round(c_temp, 2)
  celsius_temps_2.append(c_temp)

print(celsius_temps_2)

[18.33, 15.56, 12.78, 22.22, 19.44, 28.89]

In [ ]:
# a range is a numeric sequence of INTEGERS (no floats)
# 3 values: start (included), stop (excluded), and step (increment)
demo_range = range(2, 11, 2)
for i in demo_range:
  print(i)

2
4
6
8
10

In [ ]:
# default arguments for range():
# start: 0
# step (increment): 1
default_range = range(7)
for i in default_range:
  print(i)

0
1
2
3
4
5
6

In [ ]:
# can typecast a range object into a list if needed
list(default_range)

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
# use break to stop a loop when some condition should stop the loop from iterating any further
for i in demo_range:
  print(i)
  if i > 5:
    break

2
4
6